<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Loja Turistico</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- styles -->
  <link href="../../assets/css/flexslider.css" type="text/css" rel="stylesheet">
  <link href="../../assets/css/bootstrap.css" rel="stylesheet">
  <link href="../../assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="../../assets/css/mdb.css" rel="stylesheet">
  <link href="../../assets/css/mdb.min.css" rel="stylesheet">
  <link href="../../assets/css/prettyPhoto.css" rel="stylesheet">
  <link href="../../assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  
  <link href="../../assets/css/style.css" rel="stylesheet">
  <link href="../../assets/color/default.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,600,400italic|Open+Sans:400,600,700" rel="stylesheet">
  <link href="assets/color/default.css" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,600,400italic|Open+Sans:400,600,700" rel="stylesheet">
  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../../assets/ico/apple-touch-icon-57-precomposed.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
      #map {/* dimensiones del mapa*/
        height:225px;
        width: 105%;
        margin-bottom: 20px;
     }
  </style>
</head>
<body>
     <% if(data.length){                     
                 for(var i = 0;i < data.length;i++) { %> 

  <div id="wrapper">
    <header>
      <!-- Navbar
    ================================================== -->
      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div class="container">
            <!-- logo -->
            <div class="logo">
              <a href="index.html"><img src="../../assets/img/logo.png" alt="" /></a>
            </div>
            <!-- end logo -->
            <!-- top menu -->
            <div class="navigation">
              <nav>
                <ul class="nav topnav">
                  <li class="active">
                    <a href="/"><i class="icon-home"></i> PRINCIPAL </a>
                  </li>
                  <li class="dropdown">
                    <a href="#"><i class="fa fa-bed"></i> HOTELES <i class="icon-angle-down"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="../hoteles"><font color=white>Todos los Hoteles</font></a></li>
                      <li><a href="../ubicacion"><font color=white>Ubicacion Hoteles</font></a></li>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#"><i class="icon-cog"></i> ADMINISTRAR <i class="icon-angle-down"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="../../hotelesn"><font color=white>Hoteles</font></a></li>
                      <li><a href="../../usuarios"><font color=white>Usuarios</font></a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="contact.html"><i class="icon-envelope-alt"></i> Contactanos </a>
                  </li>
                </ul>
              </nav>
            </div>
            <!-- end menu -->
          </div>
        </div>
      </div>
    </header>

    <div class="row">
              <br>
              <h3><B><CENTER><%=data[i].nombre%></CENTER></B></h3>
    </div>
    <section id="intro">
      <div class="container-fluid">
       <div class="row">
          <div class="span5">
            <div class="card">
            <h3 class="card-header primary-color white-text"><%=data[i].nombre%></h3>
            <div class="card-body">
             <h4 class="card-title">Bienvenido</h4>
              <p class="card-text">
                <FONT SIZE=2>
                  <%=data[i].descripcion%>
                </font>
              </p>
            </div>
            </div>
          </div>
          <div class="span8">
            <!-- Place somewhere in the <body> of your page -->
            <div id="mainslider" class="flexslider">
              <ul class="slides">
                <li data-thumb="../../assets/img/slides/flexslider/<%=data[i].img1%>">
                  <img src="../../assets/img/slides/flexslider/<%=data[i].img1%>" alt="" />
                </li>
                <li data-thumb="../../assets/img/slides/flexslider/<%=data[i].img2%>">
                  <img src="../../assets/img/slides/flexslider/<%=data[i].img2%>" alt="" />
                </li>
                <li data-thumb="../../assets/img/slides/flexslider/<%=data[i].img3%>">
                  <img src="../../assets/img/slides/flexslider/<%=data[i].img3%>" alt="" />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
      <section id="maincontent">
        <div class="container-fluid">
          <div class="row">
            <div class="span5">
              <div class="priceBox">
                <div class="panel-body">
                  <h4><b>Calificaciones y opiniones</b></h4>
                  <% if(data2.length){                     
                  for(var j = 0;j < data2.length;j++) { %> 
                  <% if(data2[j].img == "hombre.jpg"){ %>
                      <div class="features e_pulse">
                    <h5>  <img src="../../image/hombre.jpg" alt="" /> </h5>
                      </div>
                    <% } else{ %>
                      <div class="features e_pulse">
                      <h5><img src="../../image/mujer.jpg" alt="" /> </h5>
                      </div>
                    <% } %>
                  <h5><%=data2[j].login%></h5>
                  <h5>Opinion:<%=data2[j].opinion%>.</h5>
                  <h5>Calificación -
                    <% if(data2[j].calificacion==1){ %>
                      <img src="../../assets/img/slides/flexslider/c1.jpg" alt="" /></h5>
                    <% } else if(data2[j].calificacion==2){ %>
                      <img src="../../assets/img/slides/flexslider/c2.jpg" alt="" /></h5>
                    <% }else if(data2[j].calificacion==3){ %>
                      <img src="../../assets/img/slides/flexslider/c3.jpg" alt="" /></h5>
                    <% }else if(data2[j].calificacion==4){ %>
                      <img src="../../assets/img/slides/flexslider/c4.jpg" alt="" /></h5>
                    <% }else if(data2[j].calificacion==5){ %>
                      <img src="../../assets/img/slides/flexslider/c5.jpg" alt="" /></h5>
                    <% }else if(data2[j].calificacion==6){ %>
                      <img src="../../assets/img/slides/flexslider/c6.jpg" alt="" /></h5>
                    <% }else if(data2[j].calificacion==7){ %>
                      <img src="../../assets/img/slides/flexslider/c7.jpg" alt="" /></h5>
                    <% }else if(data2[j].calificacion==8){ %>
                      <img src="../../assets/img/slides/flexslider/c8.jpg" alt="" /></h5>
                    <% }else if(data2[j].calificacion==9){ %>
                      <img src="../../assets/img/slides/flexslider/c9.jpg" alt="" /></h5>
                    <% }else if(data2[j].calificacion==10){ %>
                      <img src="../../assets/img/slides/flexslider/c10.jpg" alt="" /></h5>
                    <% }
                    %>

                    <% }
                  }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
                 <% } %>
                </div>
              </div>
            </div>
            <div class="span6">
              <div class="priceBox">
                <div class="panel-body">
                  <h4><b>Ubicación y dirección del Hotel</b></h4>
                  <h5><%=data[i].direccion%></h5>
                  <h5>Telf: <%=data[i].telefono%></h5>
                  <div class="span5">

                    <div id="map">
                      <script>
                        function initMap() {
                            var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 20,
                            center: {lat: <%=data[i].latitud%>, lng: <%=data[i].longitud%>}
                          });

                          setMarkers(map);
                         }

                        function setMarkers(map) {

                         var image = '../../assets/img/slides/flexslider/marcador5.png';

                         var marker = new google.maps.Marker({
                           position: {lat: hotel[1], lng: hotel[2]},
                           map: map,
                           icon: image,
                           title: hotel[0],
                           zIndex: hotel[3]
                         });

                        }
                      </script>
                      <script async defer
                      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcRpNmPykdgDTgHpOS-_freSJl61dCJeE&callback=initMap">
                    </script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="span5">
              <div class="priceBox">
                <div class="panel-body">
                  <h4><b>Servicios Adicionales</b></h4>
                  <h5>
                  <% if(data[i].wifi=="si"){ %>
                      <img src="../../assets/img/slides/flexslider/wifi.png" alt="" /> Wifi</h5>
                    <% }%> 
                  <h5>
                  <% if(data[i].wifi=="si"){ %>
                      <img src="../../assets/img/slides/flexslider/est.png" alt="" /> Estacionamiento</h5>
                    <% }%> 
                  <% if(data[i].piscina=="si"){ %>
                      <img src="../../assets/img/slides/flexslider/pis.png" alt="" /> Piscina</h5>
                    <% }%> 
                  <h5>
                  <% if(data[i].transporte=="si"){ %>
                      <img src="../../assets/img/slides/flexslider/tra.png" alt="" /> Transporte</h5>
                    <% }%> 
                  <h5>
                  <% if(data[i].comidas!="si"){ %>
                      <img src="../../assets/img/slides/flexslider/com.png" alt="" />  <%=data[i].comidas%></h5>
                    <% }%>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="span3 features e_pulse">
            <img src="../../image/municipio.jpg" alt="" />
            <div class="box">
              <div class="divcenter">
                <a href="http://www.loja.gob.ec/"><i class="icon-circled icon-48 icon-group active icon"></i></a>
                <h4>Municipio  de<br />Loja</h4>
              </div>
            </div>
          </div>
          <div class="span3 features e_pulse">
            <img src="../../image/turismo.jpg" alt=""/>
            <div class="box">
              <div class="divcenter">
                <a href="https://www.turismo.gob.ec/coordinacion-zonal-7/"><i class="icon-circled icon-48 icon-group icon"></i></a>
                <h4>Ministerio de <br />Turismo</h4>
              </div>
            </div>
          </div>
           <div class="span3 features e_pulse">
            <img src="../../image/prefectura.jpg" alt="" />
            <div class="box">
              <div class="divcenter">
                <a href="https://www.prefecturaloja.gob.ec/"><i class="icon-circled icon-48 icon-group icon"></i></a>
                <h4>Prefectura de <br />Loja</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <h4 class="rheading">Paginas de Interes <br>UNL 4to cilo "A"<span></span></h4>
            <div class="row">
              <div class="span3">
                <p class="hidden-phone">
                  Puede visitar las siguientes paginas de interes el cual le podria ayudar de su instancia en loja.
                </p>
              </div>
              <div class="span9">
                <div id="latest-work" class="carousel btleft">
                  <div class="carousel-wrapper">
                    <ul class="da-thumbs">
                      <li>
                        <img src="../../assets/img/dummies/work1.jpg" alt="" />
                        <article class="da-animate da-slideFromRight">
                          <a class="zoom" data-pretty="prettyPhoto" href="../../assets/img/dummies/big1.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                          </a>
                          <a href="portfolio-detail.html">
                            <i class="icon-link icon-rounded icon-48 active"></i>
                          </a>
                          <div class="hidden-tablet">
                            <p>Serenity theme</p>
                          </div>
                        </article>
                      </li>
                      <li>
                        <img src="../../assets/img/dummies/work2.jpg" alt="" />
                        <article class="da-animate da-slideFromRight">
                          <a class="zoom" data-pretty="prettyPhoto" href="../../assets/img/dummies/big1.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                          </a>
                          <a href="portfolio-detail.html">
                            <i class="icon-link icon-rounded icon-48 active"></i>
                          </a>
                          <div class="hidden-tablet">
                            <p>Dark apps</p>
                          </div>
                        </article>
                      </li>
                      <li>
                        <img src="../../assets/img/dummies/work3.jpg" alt="" />
                        <article class="da-animate da-slideFromRight">
                          <a class="zoom" data-pretty="prettyPhoto" href="../../assets/img/dummies/big1.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                          </a>
                          <a href="portfolio-detail.html">
                            <i class="icon-link icon-rounded icon-48 active"></i>
                          </a>
                          <div class="hidden-tablet">
                            <p>Mobile apps</p>
                          </div>
                        </article>
                      </li>
                      <li>
                        <img src="../../assets/img/dummies/work4.jpg" alt="" />
                        <article class="da-animate da-slideFromRight">
                          <a class="zoom" data-pretty="prettyPhoto" href="../../assets/img/dummies/big1.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                          </a>
                          <a href="portfolio-detail.html">
                            <i class="icon-link icon-rounded icon-48 active"></i>
                          </a>
                          <div class="hidden-tablet">
                            <p>Mobile template</p>
                          </div>
                        </article>
                      </li>
                      <li>
                        <img src="../../assets/img/dummies/work5.jpg" alt="" />
                        <article class="da-animate da-slideFromRight">
                          <a class="zoom" data-pretty="prettyPhoto" href="../../assets/img/dummies/big1.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                          </a>
                          <a href="portfolio-detail.html">
                            <i class="icon-link icon-rounded icon-48 active"></i>
                          </a>
                          <div class="hidden-tablet">
                            <p>Business theme</p>
                          </div>
                        </article>
                      </li>
                      <li>
                        <img src="../../assets/img/dummies/work6.jpg" alt="" />
                        <article class="da-animate da-slideFromRight">
                          <a class="zoom" data-pretty="prettyPhoto" href="../../assets/img/dummies/big1.jpg">
                            <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                          </a>
                          <a href="portfolio-detail.html">
                            <i class="icon-link icon-rounded icon-48 active"></i>
                          </a>
                          <div class="hidden-tablet">
                            <p>Portfolio graphic</p>
                          </div>
                        </article>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
                 
    <!-- Footer
 ================================================== -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="widget">
              <h5>Pagina de interés</h5>
              <ul class="regular">
                <li><a href="index.html">INICIO</a></li>
                <li><a href="media.html">HOTELES</a></li>
              </ul>
            </div>
          </div>
          <div class="span4">
            <div class="widget">
              <h5>Fotos loja</h5>
              <div class="flickr-badge">
                <img src="../../image/loja1.png" alt="" />
                <img src="../../image/loja2.jpg" alt="" />
                <img src="../../image/loja3.jpg" alt="" />
                <img src="../../image/loja4.jpg" alt="" /><br>
                <img src="../../image/loja5.jpg" alt="" />
                <img src="../../image/loja6.jpg" alt="" />

              </div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="span4">
            <div class="widget">
              <h5>Como encontrarnos</h5>
              <address>
              <i class="icon-home"></i> <strong>Univerdad Nacional de Loja</strong><br>
                <i class=" icon-desktop"></i> <strong>Carrera Ingenieria en Sistemas</strong><br>
                Avenida Pio Jaramillo Alvarado<br>
                Loja 110103
                </address>
              <p>
                <i class="icon-phone"></i> (593) 981 832 948<br>
                <i class="icon-envelope-alt"></i> jonathan.tiilaguango@unl.edu.ec
              </p>
               <p>
                <i class="icon-phone"></i> (593) 981 343 234<br>
                <i class="icon-envelope-alt"></i> david.pacheco@unl.edu.ec
              </p>
              <p>
                <i class="icon-phone"></i> (593) 939 662 554<br>
                <i class="icon-envelope-alt"></i> jorge.pucha@unl.edu.ec
              </p>
            </div>

            <div class="widget">
              <ul class="social">
               <li><a href="https://twitter.com" title="Twitter"><i class="icon-square icon-32 icon-twitter"></i></a></li>
                <li><a href="https://facebook.com" title="Facebook"><i class="icon-square icon-32 icon-facebook"></i></a></li>
                <li><a href="https://plus.google.com" title="Google plus"><i class="icon-square icon-32 icon-google-plus"></i></a></li>
                <li><a href="https://www.linkedin.com" title="Linkedin"><i class="icon-square icon-32 icon-linkedin"></i></a></li>
       
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- end wrapper -->
  <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-48 active"></i></a>
  <script src="../../assets/js/jquery.js"></script>
  <script src="../../assets/js/raphael-min.js"></script>
  <script src="../../assets/js/jquery.easing.1.3.js"></script>
  <script src="../../assets/js/bootstrap.js"></script>
  <script src="../../assets/js/google-code-prettify/prettify.js"></script>
  <script src="../../assets/js/jquery.elastislide.js"></script>
  <script src="../../assets/js/jquery.prettyPhoto.js"></script>
  <script src="../../assets/js/jquery.flexslider.js"></script>
  <script src="../../assets/js/jquery-hover-effect.js"></script>
  <script src="../../assets/js/animate.js"></script>
  <!-- Template Custom JavaScript File -->
  <script src="../../assets/js/custom.js"></script>
  <% }
             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>
</body>
</html>
